<div>
<app-topo></app-topo>
<div *ngIf="continuaJogando; else derrota">
<app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
</div>

<ng-template #derrota>
    <div class="container">
        <div class="row">
            <div class="col" *ngIf="tipoResultado === 'Derrota'; else vitoria">
                <h3 id="derrota">Você perdeu tente outra vez :(</h3>
                <button type="button" (click)="restart()" class="btn btn-primary"> Restart</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #vitoria>
        <h3 id="vitoria">Parabéns você ganhou :)</h3>
        <button type="button" (click)="restart()" class="btn btn-primary"> Restart</button>
</ng-template>