<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso [progresso]="progressoFrase"></app-progresso>
            </div>

            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas [tentativas]="tentativas"></app-tentativas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5>{{instrucao}}</h5>
                <h6>{{fraseRodada.fraseEng}}</h6><br>
            </div>
        </div>

        <form>
            <div class="form-group">
                <textarea class="form-control" 
                (input)="atualizaResposta($event)"
                    rows="3"
                    value={{resposta}}></textarea>
            </div>
        </form>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="verificaResposta()">Verificar</button>
        </div>
    </div>
</div>
